alias copy="xclip -sel clip <"
alias go="git open"
alias gcf="git diff-tree --no-commit-id --name-only -r" # show files of commit
alias raket="NO_CLEAN=true bundle exec spring rake test"
alias st="spring rails test"
alias rt="rails test"
alias rts="rails test:system"
alias brt="BROWSER=true rails test"
alias mpp="mux panel-producenta"
alias gb="git branch | grep ''"
alias d=docker
alias mpp="mux panel-producenta"
alias mpd="mux panel-detalisty"
alias mmr="mux modul-rozliczen"
alias msms="mux mnotification2"
alias mk="tmux kill-server"
alias mw="open https://github.com/neublocpl/mplatform/wiki/Ubiquitous-language-\(nomenklatura\)"
alias pend="mppending"
