alias copy="xclip -sel clip <"
alias go="git open"
alias gcf="git diff-tree --no-commit-id --name-only -r" # show files of commit
alias raket="NO_CLEAN=true bundle exec spring rake test"
alias gb="git branch | grep ''"
alias rrg="rake routes | grep "
alias d=docker

